.login {
  &-center {
    // 使用回数が多い為、切り出し
    // 上下中央ぞろえ
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-container {
    width: 90vw;
    max-width: 400px;

    //   背景
    background-color: #eeeeee;
    border-radius: 1em;
    box-shadow: 0 3em 3em -2em rgba(0, 0, 0, 0.15), 0 0 5rem rgba(0, 0, 0, 0.1);
  }

  &-header {
    width: 100%;
    min-width: 40vw;
    font-size: 1.5rem;
    font-weight: bold;

    & p {
      margin: 5%;
    }
  }

  &-form {
    width: 80%;
    margin-bottom: 10%;

    &-label {
      // 左揃えに
      margin-right: auto;
    }

    &-input {
      width: 100%;
      min-height: 3vw;

      // 良い感じに両端を丸くする
      border-radius: 50px;
      box-sizing: border-box;

      padding: 0.5rem 1rem;

      margin: 1vw;
    }

    &-text {
      border: 2px solid #ddd;
      &:focus {
        border: 2px solid #ff9900;
        z-index: 10;
        outline: 0;
      }

      &::placeholder {
        opacity: 0.25;
      }
    }

    &-submit {
      background-color: #c9a584;
      color: #eeeeee;
      cursor: pointer;
      border: none;

      &:hover {
        opacity: 0.75;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}
