.book-shelf-size {
  width: 90vw;
  min-height: 80vh;
}
.book-shelf-bg {
  border-radius: 1em;
  background-color: #c9a584;
  box-shadow: 0 3em 3em -2em rgba(0, 0, 0, 0.15), 0 0 5rem rgba(0, 0, 0, 0.1);
}
